OPENAI_API_KEY=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
MONGODB_URI=mongodb://atlas-sql-69eebbb6492556375ce8e916-pw9gui.g.query.mongodb.net/sample_mflix?ssl=true&authSource=admin
MONGODB_DB=prototype7d
APP_SESSION_SECRET=fcfccf99-0a32-402d-b81c-482f3e6aaea71b3b45f4-a6f3-4b66-b2fd-822202ac00009a5ba098-c3c7-493f-b346-b2383048a307

